body {
  font-family: 'Inter', sans-serif;
}

.navbar {
  color: #28352F;
  font-weight: 600;
  font-size: 20px;
}

.start-header {
  background-image: url(images/header-illustration-mobile@2x.png);
}

.title {
  color: #172B4D;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.title-2 {
  color: #36B37E;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.large-text {
  color: #172B4D;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}
